/* Common styles for some elements which are used in many places */

/* SPECIAL BUTTON STYLE */

.btn-special {
  background-color: var(--cl-main);
  border: 2px solid transparent;
  color: var(--text-cl-main);
  text-align: center;
}

.btn-special:not(:disabled):hover {
  background-color: var(--cl-secondary);
  border: 2px solid var(--cl-main);
  color: var(--cl-main);
}

.btn-special--reverse {
  background-color: transparent;
  border: 2px solid var(--cl-light);
  color: var(--cl-light);
}

.btn-special--reverse:not(:disabled):hover {
  border: 2px solid var(--cl-main);
  color: var(--cl-main);
}

/* CV BUTTON */

.btn-cv {
  position: relative;
  overflow: hidden;
}

.btn-cv:hover::after {
  transform: translateY(-150%) translateX(-50%);
}

.btn-cv:hover::before {
  transform: translateY(0);
}

.btn-cv::after {
  content: "CV";
  position: absolute;
  transform: translateY(0) translateX(-50%);
  left: 50%;
  transition: var(--transition);
}

.btn-cv::before {
  content: "Download CV";
  display: inline-block;
  transform: translateY(150%);
  transition: var(--transition);
}

/* SECTION HEADING */

.section-heading {
  font-size: var(--fs-text-large);
  position: relative;
  display: inline-block;
  padding-bottom: var(--pd-small);
  margin-bottom: calc(var(--gap-large) * 3);
}

.section-heading::before {
  content: "";
  background-color: var(--cl-main);
  height: 4px;
  position: absolute;
  top: 98%;
  left: 0;
  min-width: 50%;
}

/* Spinner */
.spinner {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;

  border-top: 3px solid var(--cl-main);
  border-left: 3px solid var(--cl-main);
  animation: spin 0.6s linear infinite;
}

/* LOGO */

.logo {
  max-width: 7rem;
  max-height: 7rem;
}

/* PROJECT STYLES */
