/* Styles for components like section, header, navigation etc. */

/* HEADER */

/* NAVIGATION */
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: var(--gap-large);
}

.nav-list__item {
  font-size: var(--fs-text-small);
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.nav-list__item-link {
  position: relative;
  overflow-y: hidden;
}

.nav-list__item-link > span {
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease 0.1s;
  width: fit-content;
  text-wrap: nowrap;
}

.nav-list__item-link span:last-child {
  position: absolute;
  transform: translateY(150%) translateX(-50%);
  left: 50%;
}

.nav-list__item-link:hover span:last-child {
  transform: translateY(0) translateX(-50%);
  color: var(--cl-main);
}

.nav-list__item-link:hover span:first-child {
  transform: translateY(-150%);
}

/* HEADER */

/* NOTIFICATIONS */

.notifications {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
  z-index: 100;
}

.notification {
  display: flex;
  border-radius: var(--border-radius);
  overflow: hidden;
  width: clamp(20rem, 20dvw, 30rem);
  /* width: 30rem; */
}

.notification-close,
.notification-text {
  padding: var(--pd-small);
  background-color: transparent;
  color: var(--cl-text-main);
}

.notification-close {
  border-radius: 0;
}

.notification.error .notification-close:hover {
  background-color: var(--cl-light-red);
}

.notification.success .notification-close:hover {
  background-color: var(--cl-light-green);
}

.error {
  background-color: var(--cl-red);
}

.success {
  background-color: var(--cl-green);
}

/* NOTIFICATIONS */

/* SECTIONS */
.section {
  padding: var(--pd-section-top-bot) 0;
}

/* HERO */
#hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-content {
  animation: slideFromLeft 0.7s ease forwards;
}

.hero-illustration {
  max-width: 50%;
  animation: slideFromRight 0.7s ease forwards;
}

.hero-content__text {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
}

.hero-content__text h1 {
  font-size: calc(var(--fs-text-largest));
}

.hero-content__text h4 {
  letter-spacing: 2px;
  font-size: var(--fs-text-small);
}

.hero-content__buttons {
  margin-top: calc(var(--gap-large) * 2);
  display: flex;
  align-items: center;
  gap: var(--gap-medium);
}

.hello {
  position: relative;
  font-size: calc(var(--fs-text-small) - 0.3rem);
}
.hello::before {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: -30px;
  content: "";
  height: 2px;
  width: 20px;
  transform: translateY(-50%);
  background-color: var(--cl-light);
}

.btn-hero {
  padding: var(--pd-small) calc(var(--pd-medium) - 0.2rem);
  font-size: calc(var(--fs-text-small) - 0.4rem);
}

/* ABOUT ME */

#about {
  animation: showUp 2s ease forwards;
}

.about-me-text {
  font-size: var(--fs-text-small);
  line-height: 1.5;
}

/* SKILLS */

.skills-content {
  position: relative;
  overflow: hidden;
}

.skills-wrapper {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  grid-template-rows: repeat(2, 1fr);
  column-gap: var(--gap-small);
  row-gap: var(--gap-medium);
  overflow: hidden;
}

.skill-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  padding: var(--pd-small);
  border-radius: var(--border-radius);
  transition: var(--transition);
  overflow: hidden;
  filter: grayscale(0.8);
}

.skill-wrapper-inner {
  position: relative;
}

.skill-wrapper span {
  transition: transform 0.3s ease, opacity 0.1s ease;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.skill-wrapper-inner > span > p {
  padding-top: var(--pd-small);
  text-align: center;
  text-wrap: balance;
}

.skill-wrapper span:first-child {
  transform: translateY(0);
  position: absolute;
}

.skill-wrapper span:nth-child(2) {
  transform: translateY(8rem);
}

.skill-wrapper:hover {
  border: 2px solid var(--cl-main);
  filter: grayscale(0);
  color: var(--cl-main);
  font-weight: 600;
}

.skill-wrapper:hover span:first-child {
  transform: translateY(-8rem);
}

.skill-wrapper:hover span:nth-child(2) {
  transform: translateY(0%);
}

.skill {
  width: clamp(2rem, 3vw, 3rem);
  height: clamp(2rem, 3vw, 3rem);
  fill: var(--cl-light);
}

/* PROJECTS */

.projects-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap-large);
}

.project {
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.1);
  border: 3px solid var(--cl-main);
}

.project-top {
  display: flex;
  flex-direction: column;
  position: relative;
}

.project-top__content {
  z-index: 20;
  position: absolute;
  background-color: var(--cl-main);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-medium);
  padding: var(--pd-small) var(--pd-medium);
  transition: all 0.5s ease;
  min-width: 22%;
  max-width: 22%;
  min-height: 100%;
}

.project-title {
  text-align: center;
  text-wrap: balance;
}

.project-image {
  min-width: 80%;
  height: 20rem;
  align-self: end;
  object-fit: cover;
  object-position: top;
  filter: brightness(0.9);
  transition: all 0.5s ease;
}

.project-buttons {
  display: flex;
  align-items: center;
  gap: var(--gap-small);
}

.project-button {
  font-size: var(--fs-text-smallest);
  background-color: var(--cl-secondary);
  color: var(--cl-text-main);
  padding: var(--pd-small);
  transition: var(--transition);
}

.project-button:hover {
  background-color: rgb(40, 40, 40);
}

.project-bottom {
  max-height: 0;
  background-color: var(--cl-main);
  transition: all 1s ease;
}

.project-bottom__content {
  padding: var(--pd-large);
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
}

.project-bottom__content h4 {
  color: var(--cl-secondary);
  text-transform: uppercase;
}

.project-bottom__content li,
.project-bottom__content > div > p {
  margin-left: var(--gap-medium);
}

.open {
  max-height: 50rem;
}

.project-top__content--full {
  min-width: 100%;
  /* background-color: #4dabf76c; */
  background-color: rgba(0, 0, 0, 0.555);
}

.project-image--full {
  min-width: 100%;
}

/* CONTACT ME */

#contact-me .section-content {
  display: flex;
  min-width: 100%;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid var(--cl-main);
  box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.1);
}

#contact-me .box {
  min-width: 50%;
  background-color: var(--cl-main);
  border-radius: 0 20px 20px 0;
  position: relative;
  overflow: hidden;
  padding: calc(var(--pd-large) * 1.5) var(--pd-medium);
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: var(--gap-large);
}

.contact-me__box-title {
  font-size: var(--fs-text-medium);
}

.contact-me__box-contacts {
  margin-top: var(--gap-large);
  display: flex;
  flex-direction: column;
  gap: var(--gap-large);
}

.contact-me__box-contact {
  display: flex;
  gap: var(--gap-medium);
  align-items: center;
  font-weight: 400;
  font-size: var(--fs-text-small);
}

.contact-me__box-socials {
  min-width: 100%;
  flex: 1;
  display: flex;
  align-items: end;
  justify-content: center;
  font-size: var(--fs-text-medium);
  gap: var(--gap-small);
}

.contact-me__box-socials > a:hover {
  color: var(--cl-secondary);
}

.contact-me__form {
  min-width: 50%;
  padding: calc(var(--pd-large) * 1.5) var(--pd-medium);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(var(--gap-large) * 2);
}

.form-control {
  display: flex;
  flex-direction: column-reverse;
  align-items: baseline;
  gap: var(--gap-small);
  min-width: 70%;
}

.form-input {
  font-size: var(--fs-text-small);
  border: none;
  background-color: transparent;
  border-bottom: 2px solid var(--cl-main);
  border-radius: var(--border-radius);
  color: var(--text-cl-main);
  min-width: 100%;
  padding-left: var(--pd-small);
}

.form-input:focus + .form-label {
  color: var(--cl-main);
}

textarea.form-input {
  height: 10rem;
  font-family: "Roboto", "sans-serif";
  resize: none;
  border: 2px solid var(--cl-main);
}

.form-input:focus {
  outline: none;
}
.form-label {
  transition: var(--transition);
}

.form-button {
  padding: var(--pd-small) var(--pd-medium);
  min-width: 70%;
  font-size: var(--fs-text-smallest);
}

.form-button > span {
  margin-left: var(--gap-small);
}

.form-button:disabled {
  background-color: rgb(139, 139, 139);
}

/* SECTIONS */

/* FOOTER */
.footer {
  align-self: center;
  justify-content: center;
  margin-top: calc(var(--gap-large) * 3);
  min-width: 100dvw;
  padding: calc(var(--pd-large) * 2);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -7px 1px -6px #868e9697;
  color: #868e96;
  gap: var(--gap-large);
}

.footer-text {
  margin-top: 0.6rem;
}
