.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 600;
}

.not-bold {
  font-weight: 400;
}

.text-main-color {
  color: var(--cl-main-light);
}

.button-disabled {
  background-color: rgb(96, 96, 96);
  text-decoration: line-through;
  pointer-events: none;
  border: none;
}
